button{
  font-weight: bold;
  height: 38px;
  padding: 10px;
	border: none;
	margin-bottom: 10px;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
}

.enable{
  background: #f497b0;
  cursor: pointer;
}

.desable{
  background: #757575;
  cursor: wait;
}
@media screen and (max-width: 700px) {
  button {

    border-radius:  5px;
    flex-grow: 1;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
}
